/* General styles */
body {
    background-color: #000000;
    padding: 0px;
    /* margin: 0px; */
    /* margin-left: 2.5rem;
    margin-right: 2.5rem; */

    max-width: 1240px;
    margin: auto;
}
/* habit-section-start */
.title-container {
    color: white;
    text-align: center;
    justify-content: center;
}
.title {
    font-size: 50px;
    margin-top: 10px;
}
.short-des {
    color: gray;
}
.img-main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
}

.img-main-container img {
    width: 60%;
    border-radius: 50%;
    object-fit: cover;
}

.img-container {
    color: white;
    margin: auto;
    text-align: center;
}

/* Habit banner */
.habit-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
    /* margin: auto; */
}

.left-side {
    max-width: 50%;
}

.left-side h1 {
    font-size: 2em;
    margin: 0 0 10px;
}

.left-side p {
    font-size: 1.2em;
    margin: 0 0 20px;
}

.left-side .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #E6533c;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.left-side .btn:hover {
    background-color: #0056b3;
}

.right-side img {
    width: 500px;
    height: auto;
    border-radius: 10px;
}
/*habit-section-end */
/* team-section- start */

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.card {
    /* width: 11.875em;
    height: 15.875em; */
    height: 400px;
    /* background: linear-gradient(135deg, #1afbf0, #da00ff); */
    background-image: url(./images/trainer1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

.card-2 {
    /* width: 11.875em;
    height: 15.875em; */
    height: 400px;
    /* background: linear-gradient(135deg, #1afbf0, #da00ff); */
    background-image: url(./images/trainer2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
.card-3 {
    /* width: 11.875em;
    height: 15.875em; */
    height: 400px;
    /* background: linear-gradient(135deg, #1afbf0, #da00ff); */
    background-image: url(./images/trainer3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
.card-4 {
    /* width: 11.875em;
    height: 15.875em; */
    height: 400px;
    /* background: linear-gradient(135deg, #1afbf0, #da00ff); */
    background-image: url(./images/trainer4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
.card-5 {
    /* width: 11.875em;
    height: 15.875em; */
    height: 400px;
    /* background: linear-gradient(135deg, #1afbf0, #da00ff); */
    background-image: url(./images/trainer5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
.card-6 {
    /* width: 11.875em;
    height: 15.875em; */
    height: 400px;
    /* background: linear-gradient(135deg, #1afbf0, #da00ff); */
    background-image: url(./images/trainer6.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .box {
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.074); */
    /* -webkit-backdrop-filter: blur(20px); */
    /* backdrop-filter: blur(20px); */
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(54% 27%, 100% 50%, 100% 100%, 51% 74%, 0 50%, 0% 0%);
    transition: 0.5s;
    line-height: 1.2;
  }
  
  .card-title {
    width: 100%;
    font-weight: bold;
    color: white;
    display: block;
    padding-top: 6.3em;
    font-size: 1.2em;
    /* transform: rotate(35deg); */
    transition: 0.5s;
    margin-left: 25%;
  }
  
  .text {
    color: white;
    opacity: 0;
    transition: 0.5s;
  }
  
  .card:hover .content {
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
  }
  
  .card:hover .card-title {
    padding-top: 1em;
    margin-left: 0%;
    transform: rotate(0deg);
  }
  
  .card:hover .text {
    opacity: 1;
  }
/* team-section- end */

/* calculator-start */

.page-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    /* background-color: #f4f4f4; */
}

.main-container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 20px;
    align-items: center;
    /* background-color: #fff; */
    background-color: #222222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-side {
    flex: 1;
    padding: 20px;
    border-right: 2px solid #ddd;
}

.right-side {
    flex: 1;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    /* background-color: #f2f2f2; */
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input {
    padding: 8px;
   
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #222222;
    color: white;
}


.custom-select {
    background-color: #222222;
    color: white;
    border: 1px solid #d1d5db; /* border-gray-300 */
 /* text-gray-900 */
    font-size: 0.875rem; /* text-sm */
    border-radius: 0.5rem; /* rounded-lg */
    padding: 0.625rem; /* p-2.5 */
    width: 100%; /* w-full */
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  }
  
  .custom-select:focus {
    ring-color: #3b82f6; /* focus:ring-blue-500 */
    border-color: #3b82f6; /* focus:border-blue-500 */
    outline: none; /* Remove default outline */
  }
  
  .custom-select.dark {
    /* background-color: #374151; dark:bg-gray-700 */
    border-color: #4b5563; /* dark:border-gray-600 */
   /* dark:text-white */
  }
  
  .custom-select.dark:focus {
    ring-color: #3b82f6; /* dark:focus:ring-blue-500 */
    border-color: #3b82f6; /* dark:focus:border-blue-500 */
  }
  



.flex-from{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-top: 5px;
    align-items: center;
}
form button {
    padding: 10px;
    background-color: #E6533c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

#bmi-result {
    margin-top: 20px;
    font-weight: bold;
}

  

/* calculator end */

























/* Responsive styles */
@media (max-width: 1200px) {
    .img-main-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .container{
        grid-template-columns: repeat(3, 1fr);

    }
    
}

@media (max-width: 992px) {
    .img-main-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .container{
        grid-template-columns: repeat(2, 1fr);

    }
    .main-container{
        display: inline-block;
    }
    
    
    

    .title {
        font-size: 40px;
    }

    .left-side h1 {
        font-size: 1.8em;
    }

    .left-side p {
        font-size: 1.1em;
    }

    .right-side img {
        width: 400px;
    }
}

@media (max-width: 768px) {
    .img-main-container {
        grid-template-columns: 1fr;
    }
    .container{
        grid-template-columns: 1fr;

    }
    .main-container{
        display: inline-block;
    }

    .title {
        font-size: 30px;
    }

    .left-side {
        max-width: 100%;
        text-align: center;
    }

    .left-side .btn {
        font-size: 0.9em;
        padding: 8px 16px;
    }

    .right-side img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 24px;
    }
    .main-container{
        display: inline-block;
    }
   
    

    .left-side h1 {
        font-size: 1.5em;
    }

    .left-side p {
        font-size: 1em;
    }

    .left-side .btn {
        padding: 6px 12px;
        font-size: 0.8em;
    }
}

@media (max-width: 576px){
    .habit-banner{
        display: grid;
        grid-template-columns: 1fr;

    }
    .main-container{
        display: inline-block;
    }
    
    
    
    .left-side{
        margin-bottom: 5px;
    }
   

}
